@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'Segoe UI';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
}

@keyframes progress {
    to {
        background-color: rgb(118, 183, 236);
        width: 100%;
    }
}


/*sidebar*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 230vh;
    width: 80px;
    border-radius: 0 18px 18px 0;
    background-color: #0e223e;
    padding: 0.4rem 0.8rem;
    transition: all .25s ease-in-out;
    z-index: 1000; /*ensure sidebar is above main content*/
}

.wrapper.active {
    width: 250px;
}

.main-content {
    margin-left: 95px;
    transition: margin-left 0.5s ease;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper.active ~ .main-content {
    margin-left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

/*sidebar burger menu*/
.wrapper #btnMenu {
    position: absolute;
    top: 1%;
    left: 50%;
    font-size: 1.5rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.wrapper.active #btnMenu {
    left: 90%;
}

/*logo*/
.wrapper .top .logo { /*.wrapper .top .logo*/
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;   
}

.wrapper.active .top .logo { /*.wrapper .top .logo*/
    opacity: 1;
}

.top .logo img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
/*end of logo*/
/*user section*/
.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user-image {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.user p {
    margin-left: 1rem;
    opacity: 1;
}

.bold {
    font-weight: 600;
}

.wrapper p {
    opacity: 0;
}

.wrapper.active p {
    opacity: 1;
}

/*nav items*/
.wrapper ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.wrapper ul li a {
    color: #fcf3f3;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.wrapper ul li a:hover {
    background-color: #232946;
    color: #fff;
}

.wrapper ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

/*nav items tooltip*/
.wrapper .nav-item {
    opacity: 0;
}

.wrapper.active .nav-item {
    opacity: 1;
}

.wrapper ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.wrapper ul li:hover .tooltip {
    opacity: 1;
}

.wrapper.active ul li .tooltip {
    display: none;
}

.wrapper ul li .bx-chevron-down{
    opacity: 0;
}

.wrapper.active ul li .bx-chevron-down{
    opacity: 1;
}

  #sidebar.expand {
    width: 260px;
    min-width: 260px;
  }

  #sidebar:not(.expand) .sidebar-logo,
  #sidebar:not(.expand) a.sidebar-link span {
    display: none;
  }

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
  }


.sidebar-item {
    position: relative;
  }
  
  a.sidebar-link:hover {
    background-color: #232946;
    border-left: 3px solid #1d0a0c;
  }
  
  #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #6e7ed1;
    padding: 0;
    min-width: 15rem;
    display: none;
  }
  
  #sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-width: 15em;
    width: 100%;
    opacity: 1;
  }

  #sidebar.expand .sidebar-link [data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
  }
  
  #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
  }

/*for responsiveness*/
@media (max-width: 768px) {
    .wrapper {
        width: 60px;
    }

    .wrapper.active {
        width: 200px;
    }

    .main-content {
        margin-left: 70px;
    }

    .wrapper.active ~ .main-content {
        margin-left: 210px;
        width: calc(100% - 210px);
    }

    .wrapper.active #btnMenu {
        left: 85%;
    }

    .wrapper #btnMenu {
        left: 50%;
    }

    .wrapper .top .sidebar-logo {
        height: 40px;
    }

    .top .sidebar-logo img {
        width: 30px;
        height: 30px;
    }

    .user-image {
        min-width: 35px;
    }

    .wrapper ul li a i {
        min-width: 30px;
        text-align: center;
        height: 50px;
        border-radius: 12px;
        line-height: 50px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 50px;
    }

    .wrapper.active {
        width: 180px;
    }

    .main-content {
        margin-left: 60px;
    }

    .wrapper.active ~ .main-content {
        margin-left: 190px;
        width: calc(100% - 190px);
    }

    .wrapper.active #btnMenu {
        left: 80%;
    }

    .wrapper #btnMenu {
        left: 50%;
    }

    .wrapper .top .sidebar-logo {
        height: 35px;
    }

    .top .sidebar-logo img {
        width: 25px;
        height: 25px;
    }

    .user-image {
        min-width: 30px;
    }

    .wrapper ul li a i {
        min-width: 25px;
        text-align: center;
        height: 50px;
        border-radius: 12px;
        line-height: 50px;
    }
}


.main-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

 
    .cards {
        flex-direction: column;
    }
}


.cards-container {
    display: flex;
    flex-direction: column;
    align-items: right; /*center*/ /*edited by lex*/ 
}

/* cards layout */

.cards {
    display: flex;
    flex-wrap: wrap;    
    gap: 11px;  /* 10pxere *//*edited by lex*/ 
    justify-content: space-between; 
} 

/* so far okay naman din ito 8/5/24 23:25 */
.card {
    flex-grow: 1;
    border: 1px solid #ccc;
    background-color: rgb(212, 237, 241); /*add*/
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    max-width: calc(40% - 20px);
} 


/*h1 for dashboard*/
.cards-container h1  {           
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
}

.card h3 .card p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* layout for charts .lex*/
.charts-container {
    display: flex;
    flex-direction: column;
    background: #d1ddf8;
    align-items: right; /*center*/ /*edited by lex*/ 
}


.charts {
    display: flex; 
    align-items: center;
    justify-content: center; /* justify-content: space-between; */
    background-color: rgb(235, 253, 253);
    gap: 15px;
} 

.chart{
    
    flex-grow: 1;
    border: 1px solid #ccc;
    padding:10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    max-width: calc(40% - 20px);
    padding: 1rem;
    border:2px solid rgb(195, 238, 229);
    border-radius: 1rem;
    background: rgb(175, 217, 228);
    box-shadow: 00 100px rgba(26, 22, 22, 0);

}

/* for responsiveness */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/*responsiveness for charts*/
@media (max-width: 768px) {
    .chart{
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .charts {
        flex: 1 1 100%;
        max-width: 100%;
    }
}



.right-side {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.calendar-container {

    background-color: hsl(0, 0%, 100%);
    flex-direction: center; 
    align-items: center;  
}
 
/*NEW CALENDAR - LEXIS*/ 

:root {
  --primary-clr: #5236f3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background-color: #e2e1dc;
}
.container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 2px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: #b5c1f3;
}
.left {
  width: 60%;
  padding: 10px;
}
.calendar {
  position: relative;
  width: 100%; /*body calendar*/

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #111749;
  border-radius: 5px;
  background-color: #BEDAE3;
}

.calendar .month {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
  
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #b5c1f3; /*calendar color line*/
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid  #b5c1f3;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid  #b5c1f3;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid  #b5c1f3;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid  #b5c1f3;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date, /*prev date*/
.calendar .days .next-date {
  color: #fafafa;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .day:hover.event::after {
  background-color: #b43d3d;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}

.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 16px 0;
}

.events {
  width: 98%;
  height: 90%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  background: linear-gradient(90deg, #050a20, #5d71ca);
  flex-direction: column;
  padding-left: 4px;
  padding-right: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  padding: 10 10px;
  padding-left: 25px;
  padding-bottom: 15px;
  margin-top: 13px;
  color: #fff; /*textcolor*/
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .event-title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 2rem;
  font-weight: 600;
  color:#5d71ca;
  margin-left: 0px;
  background-color: #BEDAE3;
}

.event-title{
  font-size: 2rem;
  font-weight: 600;
  color:#5d71ca;
  margin-left: 0px;
  background-color: #BEDAE3;
}

/* add tick in event after */



/* media queries */

@media screen and (max-width: 650px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
  }
  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
  }
  .add-event-wrapper {
    bottom: 100px;
  }
}
@media screen and (max-width: 750px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 14rem;
  }
  .right .today-date {
    padding: 20px;
  }
}

.mark {
  position: relative;
}

.day.has-event.mark::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #ffc107; /* Change the color to your desired mark color */
  border-radius: 50%;
}

.today {
  font-size: 24px; /* Adjust the font size to your liking */
  font-weight: bold;
  color: #337ab7; /* Change the color to your desired highlight color */
}